<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.service.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.service.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>SearchServlet</servlet-name>
  <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>SearchServlet</servlet-name>
  <servlet-class>com.service.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttendanceServlet</servlet-name>
    <url-pattern>/AttendanceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AttendanceServlet</servlet-name>
    <servlet-class>com.service.AttendanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>com.service.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StuAttServlet</servlet-name>
    <url-pattern>/StuAtt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StuAttServlet</servlet-name>
    <servlet-class>com.service.SearchClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchClassServlet</servlet-name>
    <url-pattern>/SearchClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchClassServlet</servlet-name>
    <servlet-class>com.service.SearchClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplyCourseServlet</servlet-name>
    <url-pattern>/ApplyCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ApplyCourseServlet</servlet-name>
    <servlet-class>com.service.ApplyCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckACServlet</servlet-name>
    <url-pattern>/CheckAC</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckACServlet</servlet-name>
    <servlet-class>com.service.CheckACServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchStaServlet</servlet-name>
    <url-pattern>/SearchSta</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchStaServlet</servlet-name>
    <servlet-class>com.service.SearchStaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchAttServlet</servlet-name>
    <url-pattern>/SearchAtt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchAttServlet</servlet-name>
    <servlet-class>com.service.SearchAttServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchScoreServlet</servlet-name>
    <url-pattern>/SearchScore</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchScoreServlet</servlet-name>
    <servlet-class>com.service.SearchScoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertScoreServlet</servlet-name>
    <url-pattern>/InsertScore</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertScoreServlet</servlet-name>
    <servlet-class>com.service.InsertScoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OptCourseServlet</servlet-name>
    <url-pattern>/OptCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OptCourseServlet</servlet-name>
    <servlet-class>com.service.OptCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OptStatusServlet</servlet-name>
    <url-pattern>/OptStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OptStatusServlet</servlet-name>
    <servlet-class>com.service.OptStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchAdmServlet</servlet-name>
    <url-pattern>/SearchAdm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchAdmServlet</servlet-name>
    <servlet-class>com.service.SearchAdmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBookServlet</servlet-name>
    <url-pattern>/SearchBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchBookServlet</servlet-name>
    <servlet-class>com.service.SearchBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchMagServlet</servlet-name>
    <url-pattern>/SearchMag</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchMagServlet</servlet-name>
    <servlet-class>com.service.SearchMagServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAdmServlet</servlet-name>
    <url-pattern>/AddAdm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddAdmServlet</servlet-name>
    <servlet-class>com.service.AddAdmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OptAdmServlet</servlet-name>
    <url-pattern>/OptAdm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OptAdmServlet</servlet-name>
    <servlet-class>com.service.OptAdmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.jpg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.png</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.ico</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.gif</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.js</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.css</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.wolf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.ttf</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
</web-app>
